<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
          
            <div class="collapse navbar-collapse" id="navbarNav">

                <a class="nav-link" asp-action="Index" asp-controller="Member">Member</a>
                <a class="nav-link" asp-action="Index" asp-controller="Admin">Admin</a>
                <a class="nav-link" asp-action="Editor" asp-controller="Member">Editor</a>
                <a class="nav-link" asp-action="Manager" asp-controller="Member">Manager</a>



            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-4">
                <h3>Menu</h3>
                <a class="form-control btn btn-info btn-block" asp-action="PasswordChange" asp-controller="Member">Change Password</a>
                <br />

                <br />
                <a class=" form-control btn btn-info btn-block" asp-action="UserEdit" asp-controller="Member">User Edit</a>
                <br />
                <br />
                <a class=" form-control btn btn-info btn-block" asp-action="LogOut" asp-controller="Member">LogOut</a>
            </div>
        </div>
      
    </div>

</body>
</html>
