@model CoreIdentity.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ResetPassword</h1>


<hr />


<div class="row">
    <div class="col-md-4">
        @if (ViewBag.status == "success")
        {

            <div class="alert alert-info">You Password reset successful,Please go to <span><a asp-action="LogIn">Login</a></span> page and login with new password</div>
        }
        else
        {
        <form asp-action="ResetPasswordConfirm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="New Password" class="btn btn-primary" />
            </div>
        </form>
        }
    </div>
</div>



