@model CoreIdentity.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">ResetPassword</h1>

<hr />
<div class="row">
    <div class="col-md-4 offset-md-4">
        @if (ViewBag.status == "Successful")
        {

            <div class="alert alert-info">We send link for reset password please checked your email.</div>

        }
        else
        {
        <div class="alert alert-info">
            Please,add Email we send resetpassword link to email
        </div>
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class=" reset btn btn-primary form-control" />
            </div>
        </form>
        }
    </div>
</div>





